/*
vh vs. % article
https://stackoverflow.com/questions/31039979/css-units-what-is-the-difference-between-vh-vw-and
 */
body {
    height: 100vh;
    background: #E6E6E6;
}

/*!* row color *!*/
/*div.row {*/
/*    border: 1px dashed blue;*/
/*}*/
/*!* cell color *!*/
/*div.row > div {*/
/*    border: 1px solid red;*/
/*}*/
/*div.tall-row {*/
/*    height: 300px;*/
/*}*/

.sub-heading {
    font-family: 'Anton', sans-serif;
}

p {
    font-family: 'Montserrat', sans-serif;
}

#logoIcon {
    height: 50px;
    width: 50px;
}

.circle {
    height: 75px;
    width: 75px;
    background-color: #E6563B;
    border-radius: 50%;
    display: inline-block;
}

.icon {
    height: 1.56em;
    width: 1.56em;
    text-align: center;
    background-color: #E6563B;
    border-radius: 50%;
    display: inline-block;
}

.badge {
    height: 85px;
    width: 85px;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    border-radius: 50%;
}

#badge1 {
    background: #E6563B;
}

#badge2 {
    background: #EB9D3A;
}
#badge3 {
    background: #7CB06C;
}
#badge4 {
    background: #00ABA9;
}

.icon1 {
    background: #E6563B;
}

.icon2 {
    background: #EB9D3A;
}
.icon3 {
    background: #7CB06C;
}
.icon4 {
    background: #00ABA9;
}

.small-picture {
    width: 5em;
    height: 3.5em;
    padding-right: 8px;
}